<form id="frm1" name="frm" novalidate class="grid_12">
<div class="boxdiv ">
    <div class="closediv">

        <input id="btnAdd" ng-class="class" type="button" value="Add New" ng-click="btnAdd()"/>
        <input id="btnCencel" class="commonbtn" type="button" value="Cencel" ng-click="btnCencel()"/>

    </div>
</div>
 </form>
